# History files

# Session Data files


# User-specific files


# Example code in package build process


# Output files from R CMD build


# Output files from R CMD check


# RStudio files


# produced vignettes


# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3

# knitr and R markdown default cache directories


# Temporary files created by R markdown


# R Environment Variables

